body {
  text-align: center;
  color: blue;
  background: beige;
}

a {
  color: orchid;
  font-weight: bold;
}

a:hover {
  color: hotpink;
}

a:focus {
  color: paleturquoise;
}

nav {
  position: relative;
  width: 100 px;
  float: center; 
}

nav a {
  position: relative; 
  padding: 20 px;
}

img {
  max-width: 100%;
}

.hero-image {
  background: url(images/banner.png);
  height: 0%;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  position: relative; 
}

.hero-text {
  text-align: center;
  /* position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); */
  color: whitesmoke;
}

.hero-text button {
border: none;
outline: 50;
display: inline-block; 
padding: 10px 25px; 
color: blue; 
background-color: whitesmoke;
text-align: center;
cursor: pointer;
}

.hero-text button:hover {
  background-color: paleturquoise;
  color: hotpink
}