/* styling referenced from W3 schools hover, hero-image and other css pages */

body {
  text-align: center;
  color: rgb(0, 0, 255);
  background: beige;
}

a {
  color: orchid;
  font-weight: bold;
}

a:hover {
  color: hotpink;
}

a:focus {
  color: paleturquoise;
}

nav {
  position: relative;
  width: 100 px;
  float: center; 
}

nav a {
  position: relative; 
  padding: 20 px;
}

img {
  max-width: 100%;
}


/* css classes */
/* .iceberg-regular {
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

@font-face {
  font-family: "Doto", sans-serif;
  src: url(/final-portfolio-site/assets/fonts/Doto/static/Doto-Black.ttf);
}


.main-font {
  /* font-family: Doto; */
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}

.main-font-bold {
  /* font-family: w; */
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}


/* .vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}

.jacquarda-bastarda-9-regular {
  font-family: "Jacquarda Bastarda 9", serif;
  font-weight: 400;
  font-style: normal;
}


.astloch-regular {
  font-family: "Astloch", system-ui;
  font-weight: 400;
  font-style: normal;
}

.astloch-bold {
  font-family: "Astloch", system-ui;
  font-weight: 700;
  font-style: normal;
} */



.hero-image {
  background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5)), url(assets/images/banner.png);
  height: 0%;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  position: relative; 
}

.hero-text {
  text-align: center;
  /* position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); */
  color: whitesmoke;
}

.hero-text button {
  border: none;
  outline: 50;
  display: inline-block; 
  padding: 10px 25px; 
  color: blue; 
  background-color: whitesmoke;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: paleturquoise;
  color: hotpink
}